{% extends 'base.html' %}
{% load static %}

{% block title %}LenDen - {{ customer.customer_name }}{% endblock %}

{% block content %}
<div class="container">
    <a href="{% url 'customers_list' %}" class="back-link">Back</a>
    <h1>{{ customer.customer_name }}</h1>
    <div class="customer-details">
        <p><strong>Address:</strong> {{ customer.address }}</p>
        <p><strong>Contact:</strong> {{ customer.contact_number }}</p>
        <p><strong>Due Amount:</strong> {{ customer.due_amount|floatformat:2 }}</p>
    </div>

    <h2>Products Bought</h2>
    <div class="products-table">
        <div class="products-header">
            <a href="{% url 'create_invoice' customer.id %}" class="invoice-btn"><i class="fas fa-plus"></i> Create Invoice</a>
        </div>

        <div class="table-header">
            <div class="table-col">Date</div>
            <div class="table-col">Invoice Number</div>
            <div class="table-col">Bill Amount (Total)</div>
            <div class="table-col">Action</div> <!-- New column for Edit button -->
        </div>
        <div class="table-body">
            {% for invoice in invoices %}
                <div class="table-row">
                    <div class="table-col">{{ invoice.invoice_date|date:"Y-m-d" }}</div>
                    <div class="table-col">{{ request.user.username|slice:":3"|upper }}-{{ customer.id }}-{{ invoice.id }}-{{ invoice.invoice_date|date:"Ymd" }}</div>
                    <div class="table-col">{{ invoice.final_amount|floatformat:2 }}</div>
                    <div class="table-col">
                        <a href="{% url 'edit_invoice' customer.id invoice.id %}" class="edit-btn"><i class="fas fa-edit"></i> Edit</a>
                    </div>
                </div>
            {% empty %}
                <div class="table-row">
                    <div class="table-col" style="flex: 1 1 100%; text-align: center;">No invoices found.</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/customers.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/customers.js' %}"></script>
{% endblock %}