<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=2.2">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="signup-wrapper">
        <div class="signup-container">
            <!-- Right Section: Form -->
            <div class="signup-form">
                <h3 class="signup-title">Signup</h3>

                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                {% endfor %}

                <form action="{% url 'signup' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" name="business_name" id="business_name" placeholder="Business Name" required>
                    </div>
                    <div class="form-group dual-input">
                        <input type="text" name="username" id="username" placeholder="Username" required>
                        <input type="tel" name="phone" id="phone" placeholder="Phone" required>
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" id="email" placeholder="Email" required>
                    </div>
                    <div class="form-group password-container">
                        <input type="password" name="pass1" id="pass1" placeholder="Password" required>
                        <i class="fas fa-eye toggle-password"></i>
                    </div>
                    <button type="submit">Signup</button>
                    <div class="form-links">
                        <p class="login-link">Already have account? <a href="{% url 'signin' %}">log in</a></p>
                    </div>
                </form> 
                
            </div>
            <!-- Right Section: Logo -->
            <div class="signup-logo">
                <div class="logo-circle">
                    <img src="{% static 'images/logo.png' %}" alt="Lenden Logo" class="logo-image">
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/accounts.js' %}"></script>
</body>
</html>