{% extends 'base.html' %}
{% load static %}

{% block title %}LenDen - Product List{% endblock %}

{% block content %}
    <div class="inventory-header">
        <div class="search-container">
            <input type="text" id="inventorySearch" onkeyup="searchProducts()" placeholder="Search">
        </div>
    </div>

    <div class="inventory-table">
        <div class="table-header">
            <div class="table-col">Product Name</div>
            <div class="table-col">Quantity</div>
            <div class="table-col">Price</div>
        </div>
        <div class="table-body">
            {% for product in products %}
                <div class="table-row">
                    <div class="product-details" onclick="location.href='{% url 'vendors_detail' product.product.vendor.id %}?product_id={{ product.product.id }}'">
                        <div class="table-col">{{ product.product.product_name }}</div>
                        <div class="table-col">{{ product.remaining_quantity }}</div>
                        <div class="table-col">{{ product.product.selling_price|floatformat:2 }}</div>
                    </div>
                </div>
            {% empty %}
                <div class="table-row">
                    <div class="table-col" style="flex: 1 1 100%; text-align: center;">No products found.</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/inventory.css' %}">
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'js/inventory.js' %}"></script>
{% endblock %}